{
	"$schema": "./config.schema.json",
	"redirects": {
		"appname": {
			"url": "https://app.example.com/sso.php",
			"secret": "supersecret",
			"query": {
				"token": "{jwt}",
				"state": "{state}"
			},
			"jwt": {
				"default": {
					"email": "{oauth.email}",
					"names": {
						"first": "{oauth.given_name}",
						"last": "{oauth.family_name}"
					},
					"admin": false
				},
				"overrides": {
					"email": {
						"admin@example.com": {
							"admin": true
						}
					}
				}
			}
		}
	},
	"companyName": "Example Company",
	"domain": "example.com",
	"port": 8870,
	"secret": "verysecret"
}